.bg-secondary {
    background-color: #62bddb !important;
  }
  
  .copyright {
    background-color: #59b7d7;
  }
  
  .bg-primary {
    background-color: #19605e !important;
  }

  .bg-primary-del {
    background-color: #d41818 !important;
  }

  .bg-ternary {
    background-color: #1e5151 !important;
    margin-left: 250px;
  }
  
  nav{
    font-weight: 700;
  }
  
  .img-card{
    height: 18vw;
    object-fit: cover;
  }

  .show-attribute{
    font-weight: bold;
  }
  